ul{
  list-style: none;
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50px; 
  line-height: 50px;
  width: 100%;
}


input {
  width: 100%;
  height: 50px;
  line-height: 50px; 
  font-size: 30px;
}

ul li{
  flex: 3;  /* 三等分 */
  text-align: center; /* 文本居中 */
}

dl {
  height: 150px;
  border-bottom: 1px solid gray;
}

dl dt {
  font-size: 20px;
}

dl dd {
  font-size: 12px;
  color: gray;
}

.active{
  color: red;
}


.files {
  overflow: hidden;
  padding: 10px;
}

.files img {
  width: 100px;
  float:left;
}

.files img {
  width: 100px;
  float:left;
}